{% extends "home/base.html" %}
{% block content %}
    <div class="row rowblock"> <!--col-lg-6 col-md-6 col-sm-12 col-xs-12-->
        <div class="col-8">
            <h1>{{ product.name }}</h1>
            <small>${{ product.price }}</small>
            <p>{{ product.description }}</p>
        </div>
        <div class="col-4 prodimg">
            <img src="{{ product.image.url }}">
        </div>
        <h1>Making this product</h1>
        <p>
            This product is made with care
        </p>
    </div>
{% endblock content %}


